#logIn, #uploadPost, #welcome,{
	display: none;
}

#Welcomes{
	border-color: transparent;
	cursor: default;
}

#Welcomes:hover {
	color: #6c757d;
	background-color: transparent;
	background-image: none;
	border-color: none;
}



.index-wrap{
  /*background-image: url("assets/img/fondospotify.jpg");*/
	background-color: #f037a5;
  background: linear-gradient(#f037a5 -50%,#fae62d 120%);
}
.header{
	position: : fixed;
	z-index: 10;
	width: 100%;
}
.navbar-transparent{
	background-color: white;
}
.a-disabled{
    pointer-events: none;
}
.navbar-dark .navbar-nav .nav-link {
	color: black;
}

.navbar-logo{
	/*margin-top: 20px;
  margin-bottom: 20px;*/
  width: 132px;
  height: 40px;
  background-size: 132px 40px;
}